<div th:fragment="footer" class="clearfix footer min_1200"></div>

<div class="clearfix footer min_1200">
    <div class="clearfix footer w_1200">
        <ul class="fl footer_ul list_3">
            <li>
                <h5><span class="round_r f_arrow png"></span>关于我们</h5>
                <p><a th:href="@{/about}">了解官方</a></p>
                <p><a th:href="@{/about}">加入我们</a></p>
                <p><a th:href="@{/about}">合作联系</a></p>
            </li>
            <li>
                <h5><span class="round_r f_arrow f_arrow2 png"></span>帮助中心</h5>
                <p><a th:href="@{/help}">新手上路</a></p>
                <p><a th:href="@{/help}">注册登录</a></p>
                <p><a th:href="@{/help}">投资流程</a></p>
                <p><a th:href="@{/help}">提现申请</a></p>
            </li>
            <li>
                <h5><span class="round_r f_arrow f_arrow3 png"></span>产品服务</h5>
                <p><a th:href="@{/index}">官方首页</a></p>
                <p><a th:href="@{/first}">首投返利</a></p>
                <p><a th:href="@{/repetition}">复投返利</a></p>
                <p><a th:href="@{/down}">APP下载</a></p>
            </li>
        </ul>
        <div class="r_cell footer_share">
            <h5><span class="round_r f_arrow f_arrow4 png"></span>关注我们</h5>
            <div class="d">
                <span class="fl">
                    <img th:src="@{/upload/QRwap.png}" alt="" width="150" height="150"><p>手机wap端</p>
                </span>
                <span class="fl" style="margin-left:20px;">
                    <img th:src="@{/upload/QRcode.png}" alt="" width="150" height="150"><p>APP下载</p>
                </span>
            </div>
        </div>
    </div>
</div>
<!--/*-->
<div class="clearfix footer min_1200"
	style="text-align: center; padding-bottom: 20px;">
	<a rel="nofollow" key="5731b00defbfb02ef3935561" logo_size="124x47"
		logo_type="realname" href="#"
		style="margin-right: 20px;"> <img border="0"
		th:src="@{/upload/sm_124x47.png}" alt="安全联盟认证">
	</a> <a rel="nofollow" href="#"
		<img
		border="0" th:src="@{/upload/360btm.png}"></a> <a rel="nofollow"
		href="#" style="margin-right: 20px;"> <img th:src="@{/upload/safe_check.png}">
	</a> <a rel="nofollow" id="jsl_speed_stat0"
		href="#" style="margin-right: 20px;"> <img
		th:src="@{/upload/stat.png}">
	</a>
</div>
<!--*/-->
<div class="clearfix footer min_1200"
	style="text-align: center; padding-bottom: 30px;">
	<span class="text-center" style="">Copyright © 2017 www.masduo.com All Rights    |    沪ICP备17044033号-1</span>
</div>

<div class="ftool" id="ftool">
    <div class="ftool_item">
        <a href="#" class="top_ftoolab ftoolab png" id="ftoolTop" style="display: none;"></a>
    </div>
    <div class="ftool_item">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1004050304&site=qq&menu=yes" class="tel_ftoolab ftoolab png"></a>
        <div class="ftool_code ftool_code_s" style="display: none; opacity: 0; right: 100px;">在线客服
            <div class="ftool_code_gt">◆</div>
        </div>
    </div>
    <!--/*--> 
    <div class="ftool_item">
        <a href="#" class="wechat_ftoolab ftoolab png"></a>
        <div class="ftool_code" style="display: none; opacity: 0; right: 100px;">
            <img src="/images/icon/wap_qrcode.png" alt="" class="ftool_code_img">
            <div class="ftool_code_gt">◆</div>
        </div>
    </div>
    <!--*/-->
    <div class="ftool_item">
        <a href="#" class="qq_ftoolab ftoolab png"></a>
        <div class="ftool_code" style="display: none; opacity: 0; right: 100px;">
            <img th:src="@{/upload/qq.png}" alt="" class="ftool_code_img">
            <div class="ftool_code_gt">◆</div>
        </div>
    </div>
    <div class="ftool_item">
        <a href="#" class="phone_ftoolab ftoolab png"></a>
        <div class="ftool_code" style="display: none; opacity: 0; right: 100px;">
            <img th:src="@{/upload/QRcode.png}" alt="" class="ftool_code_img">
            <div class="ftool_code_gt">◆</div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	if ($.cookie("msd.rmbUser") == "true") {
		$("#remember").attr("checked", true);
		$("#login-popup-mobile").val($.cookie("msd.username"));
		$("#password").val($.cookie("msd.password"));
	}
});
</script>