<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdd.mapper.ContactMapper">

	<select id="contactList" resultType="java.util.Map">
		select * from p2p_contact order by orderby
	</select>
   
</mapper>