<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=1200" />
<title>会员中心_马上多返利网</title>
<meta name="description"
	content="马上多返利网是一个理财返利平台,为您提供理财返利、P2P返利、网贷返利、投资返利等全方位高收益理财返利活动" />
<style>
.status {
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: #09BB07;
	border-radius: 4px;
	padding: 0 4px;
	background-clip: padding-box;
}

.status-2 {
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: #FFBE00;
	border-radius: 4px;
	padding: 0 4px;
	background-clip: padding-box;
}
</style>
<dif th:replace="/common/common" />
</head>
<body th:inline="text">
	<dif th:replace="/common/head" />

	<dl class="site_th w_1200">
		<dd>
			当前位置：<a th:href="@{/index}">马上多返利</a><em class="china">&gt;</em>会员中心
		</dd>
	</dl>

	<div class="clearfix w_1200 i_center white_box">
		<div class="fl w_200 l_box">
			<dl class="l_club">
				<dt class="round_img">
					<a th:href="@{/page/auth/index}"> <img
						th:src="@{/images/icon/user_logo.png}" alt="" width="100"
						height="100" />
						<h4>
							<span th:text="${session.safename}"></span>
						</h4>
					</a>
				</dt>
				<dd class="active">
					<a th:href="@{/page/auth/account_order}">交单记录</a>
				</dd>
				<dd>
					<a th:href="@{/page/auth/account_investor}">投资人</a>
				</dd>
				<dd>
					<a th:href="@{/page/auth/account_withdraw}">提现</a>
				</dd>
				<dd>
					<a th:href="@{/page/auth/account_setting}">帐号设置</a>
				</dd>
			</dl>
		</div>
		<!--end左边-->

		<div class="fr w_950 r_box">

			<h4 class="r_th">
				<b class="fl th_line_b">交单记录 &gt; 详细信息</b>
			</h4>

			<h5
				style="margin-top: 20px; color: darkgray; text-align: center; margin-bottom: 5px;">————
				下单快照 ————</h5>
			<table class="layui-table blue_link" lay-even lay-skin="nob">
				<thead>
					<tr>
						<th style="text-align: center">平台</th>
						<th style="text-align: center">方案名称</th>
						<th style="text-align: center">投资项目</th>
						<th style="text-align: center">类型</th>
						<th style="text-align: center">投资周期</th>
						<th style="text-align: center">充值金额</th>
						<th style="text-align: center">返现(%)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="td_c"><a th:href="${orderDetail.url}"
							target="_blank">[[${orderDetail.platform_name}]]</a></td>
						<td class="td_c">[[${orderDetail.plan_name}]]</td>
						<td class="td_c">[[${orderDetail.plan_item}]]</td>
						<td class="td_c">[[${orderDetail.is_first}]]</td>
						<td class="td_c">[[${orderDetail.days}]]</td>
						<td class="td_c">[[${orderDetail.deposit_range}]]</td>
						<td class="td_c">[[${orderDetail.rebate}]]</td>
					</tr>
				</tbody>
			</table>

			<h5
				style="margin-top: 20px; color: darkgray; text-align: center; margin-bottom: 5px;">————
				交单信息 ————</h5>
			<table class="layui-table" lay-even lay-skin="nob">
				<thead>
					<tr>
						<th style="text-align: center">投资日期</th>
						<th style="text-align: center">姓名</th>
						<th style="text-align: center">手机号</th>
						<th style="text-align: center">实投金额</th>
						<th style="text-align: center">返现</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="td_c">[[${orderDetail.invest_date}]]</td>
						<td class="td_c">[[${orderDetail.investor_name}]]</td>
						<td class="td_c">[[${orderDetail.investor_phone}]]</td>
						<td class="td_c">[[${#numbers.formatDecimal(orderDetail.deposit, 1, 'COMMA', 2, 'POINT')}]]</td>
						<td class="td_c">[[${#numbers.formatDecimal(orderDetail.cash_back, 1, 'COMMA', 2, 'POINT')}]]</td>
					</tr>
				</tbody>
			</table>

			<h5
				style="margin-top: 20px; color: darkgray; text-align: center; margin-bottom: 5px;">————
				处理状态 ————</h5>
			<table class="layui-table" lay-even lay-skin="nob">
				<thead>
					<tr>
						<th style="text-align: center">状态</th>
						<th style="text-align: center">金额</th>
						<th style="text-align: center">处理时间</th>
						<th style="text-align: center">备注说明</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="td_c">[[${orderDetail.status_des}]]</td>
						<td class="td_c">[[${#numbers.formatDecimal(orderDetail.cash_back, 1, 'COMMA', 2, 'POINT')}]]</td>
						<td class="td_c">[[${#dates.format(orderDetail.update_date, 'yyyy-MM-dd HH:mm:ss')}]]</td>
						<td class="td_c">[[${orderDetail.remark == null ? '' : orderDetail.remark}]]</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<dif th:replace="/common/login_register" />
	<dif th:replace="/common/footer" />
</body>
</html>