<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1200" />
	<title>关于我们_马上多返利网</title>
	<meta name="description"
		content="马上多返利网是一个理财返利平台,为您提供理财返利、P2P返利、网贷返利、投资返利等全方位高收益理财返利活动" />
	<dif th:replace="/common/common" />
</head>
<body>
	<dif th:replace="/common/head" />

	<dif th:replace="/others/swiper" />

	<div class="w_1200 box_w_b clearfix">
		<dl class="about_tab_th round_m_a">
			<dd>
				<a th:href="@{/announcement}">官方公告</a>
				<a th:href="@{/about}" class="tab_light">关于我们</a>
				<a th:href="@{/service}">增值服务</a> <a
					th:href="@{/help}">帮助中心</a> <a
					th:href="@{/agreement}">注册协议</a>
			</dd>
		</dl>
		<div class="white_box clearfix box_w_b">
			<div class="about_text" style="width: 92%; margin: 0 auto">
				<h2>关于马上多返利</h2>
				<p>马上多返利网<!-- 运营公司为上海亿珠网络技术服务有限公司，旗下产品：马上多返利（www.msdfanli.com）。 -->在广大投资人的强烈需求下，于2017年开始上线运营。</p>
				<p>马上多返利基于网贷平台给用户的正常投资回报之上，再叠加额外的返利给用户，使得用户的投资收益率最大化，深受用户喜爱。</p>
				<p>当然安全也是马上多返利网同样重视的问题，马上多返利网会对活动平台会进行客观的风控调查，并且经过安全评级划分为ABCDE五个区域，根据不同风险承受能力的用户，选择参加相适应的平台活动。</p>
			</div>
			<div class="hide_box" style="width: 92%; margin: 0 auto">
				<ul class="list_5 h_tool clearfix">
					<li><span class="b_arrow png"></span>
						<h5>返利最高</h5>
						<p>全网返利最高价</p></li>
					<li><span class="b_arrow b_arrow2 png"></span>
						<h5>返利最快</h5>
                        <p>提交订单后<br>1-3个工作日返现</p></li>
					<li><span class="b_arrow b_arrow3 png"></span>
						<h5>安全保障</h5>
                        <p>一手渠道<br>返现安全有保障</p></li>
					<li><span class="b_arrow b_arrow4 png"></span>
						<h5>风险量化</h5>
						<p>所有活动附带风控评级，风险一目了然。</p></li>
					<li><span class="b_arrow b_arrow5 png"></span>
						<h5>独家风控</h5>
                        <p>线上分析，线下考察<br>Ｎ道风控手段</p></li>
				</ul>
			</div>
			<div class="hide_box" style="width: 92%; margin: 0 auto;">
				<ul class="about_contact">
					<li th:each="item,status : ${contactList}" th:inline="text">
						<h4>[[${item.title}]]</h4>
						<p>[[${item.detail}]]</p>
						<p th:if="${item.phone != '' && item.phone != null}">[[${item.phone}]]</p>
						<p th:if="${item.QQ != '' && item.QQ != null}">[[${item.QQ}]]</p>
						<p th:if="${item.mail != '' && item.mail != null}">[[${item.mail}]]‍</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<dif th:replace="/common/login_register" />
	<dif th:replace="/common/footer" />
</body>
</html>