<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1200" />
	<title>关于我们_马上多返利网</title>
	<meta name="description"
		content="马上多返利网是一个理财返利平台,为您提供理财返利、P2P返利、网贷返利、投资返利等全方位高收益理财返利活动" />
	<dif th:replace="/common/common" />
</head>
<body>
	<dif th:replace="/common/head" />

	<dif th:replace="/others/swiper" />

	<div class="w_1200 box_w_b clearfix">
		<dl class="about_tab_th round_m_a">
			<dd>
				<a th:href="@{/announcement}">官方公告</a>
				<a th:href="@{/about}">关于我们</a> <a
					th:href="@{/service}">增值服务</a> <a
					th:href="@{/help}">帮助中心</a> <a
					th:href="@{/agreement}" class="tab_light">注册协议</a>
			</dd>
		</dl>
		<div class="white_box clearfix box_w_b">
			<div class="d_wen clearfix">
				<h2>马上多返利网站服务协议</h2>
				<div class="text_o"></div>
				<div class="cms-content">
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">一、特别提示</span></span></strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">1.1
							<span style="font-family: 宋体;">用户应当同意本协议的条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击</span><span
							style="font-family: Arial;">“</span><span
							style="font-family: 宋体;">同意</span><span
							style="font-family: Arial;">”</span><span
							style="font-family: 宋体;">按钮即表示用户完全接受本协议项下的全部条款。您应当在使用</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">服务之前认真阅读全部协议内容并确保完全理解协议内容，如您对协议有任何疑问的，应向</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">咨询。但无论您事实上是否在使用</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">服务之前认真阅读了本协议内容，只要您注册、正在或者继续使用</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">服务，则视为接受本协议。</span>&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">1.2
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">保留在任何时候修改本协议条款的权利，修改后的条款将在网页上公布，并于自公布起第八日生效，即修改后的条款有效代替原来的协议条款。用户在使用服务时应关注并遵守。</span>&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">1.3<span
							style="font-family: 宋体;">用户在使用</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">提供的各项服务之前，应仔细阅读本协议。如您不同意本服务协议或对其的修改，应主动取消</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">提供的服务；如果您继续使用</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">服务，则视为您已经接受本协议全部内容，包括</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">对本协议所做的任何修改。</span></span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">二、用户账号</span></span></strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">2.1
							<span style="font-family: 宋体;">用户注册成功后，</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">将给予每个用户一个帐号及相应的密码，在</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">审核通过后，每个帐号对应一个唯一的用户名，您设置的用户名不得侵犯或涉嫌侵犯他人合法权益，且不得利用该账户进行非法行为，</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">对您违反以上义务所造成的后果不承担任何责任。</span>&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">2.2
							<span style="font-family: 宋体;">用户应对其账号、密码履行妥善保管的义务，无论用户是否对账号实际使用人授权，其账号下的所有操作均视为用户自身的意思表示，其产生的一切后果及损失将由用户独自承担。用户不应将其帐号、密码转让、出售或出借予他人使用，否则应对账号实际使用人在该帐户下发生所有行为及后果负全部责任。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">2.3
							<span style="font-family: 宋体;">用户帐号和密码遭到他人非法使用或发生其他任何安全问题，用户应当立即通知</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">。因黑客行为、用户的过错或其他不可预见的因素导致帐号、密码被他人非法使用，</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">不承担任何责任。</span>&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">2.4
							<span style="font-family: 宋体;">用户应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将引用为注册资料。如果因注册信息不真实而引起的问题，并对问题发生所带来的后果，</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">不负任何责任。如果因注册信息不真实或更新不及时而引发的相关问题，</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">不负任何责任并有权暂停或终止用户的帐号。</span>&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">2.5
							<span style="font-family: 宋体;">为更好地向用户提供服务，您同意</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">通过邮件，短信等形式向您发送相关商业性服务信息。</span></span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">三．使用规则</span></span></strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">3.1
							<span style="font-family: 宋体;">用户不得利用本网站从事任何违法违规活动，用户在此承诺合法使用本网站提供的服务，遵守中国现行法律、法规、规章、规范性文件以及本服务协议的约定。若用户违反上述规定，所产生的一切法律责任和后果与本公司和本网站无关，由用户自行承担，如因此给本公司和本网站造成损失的，由用户赔偿本公司和本网站的损失。本公司保留将用户违法违规行为及有关信息资料进行公示、计入用户信用档案、按照法律法规的规定提供的有关政府部门或按照有关协议约定提供给第三方的权利。如用户在本网站的某些行为或言论不合法、违反有关协议约定、侵犯本公司的利益等，本公司有权基于独立判断直接删除用户在本网站上作出的上述行为或言论，有权中止、终止、限制用户使用本网站服务，而无需通知用户，亦无承担任何责任。如因此而给本公司及本网站造成损失的，应当赔偿本公司及本网站的损失。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">3.2
							<span style="font-family: 宋体;">用户同意</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">有权在提供网络服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息。</span>&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">3.3
							<span style="font-family: 宋体;">请您自行记住注册时间及注册邮箱，以便将来忘记密码或密码被盗时查询。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">3.4
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">仅向用户提供理财平台或其他第三方平台的信息及以上平台的推广返利活动信息，并不作为返利义务人或以上平台代理人与用户达成任何协议及保证。但</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">明确获得以上平台授权或与相关义务人达成协议的除外。</span></span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">四．免责</span></span></strong><strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">声</span></span></strong><strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">明</span></span></strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">&nbsp;</span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">返利属</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">纯推广型广告中介公司，不参与任何平台经营，本</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">返利活动</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">所有信息（包括但不局限于平台介绍、平台背景、平台数据等关于平台的各类信息）均由各商家自行提供，仅仅作为信息展示平台，不对用户投资行为进行任何主观性引导。投资前请慎重考虑平台信用、投资项目的真实性、可行性等因素。用户如因投资发生争议，请与该平台进行沟通交涉。</span>
						</span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;"></span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">4.1
							<span style="font-family: 宋体;">本网站提供的服务中不含有任何明示、暗示的，对任何用户、任何交易的真实性、准确性、可靠性、有效性、完整性等的任何保证和承诺，用户需根据自身风险承受能力，衡量本网站披露的交易内容及交易对方的真实性、可靠性、有效性、完整性，用户因其选择使用本网站提供的服务、参与的交易等而产生的直接或间接损失均由用户自己承担，包括但不限于资金损失、利润损失、营业中断等。本公司及其股东、创始人、全体员工、代理人、关联公司、子公司、分公司均不对以上损失承担任何责任。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">4.2
							<span style="font-family: 宋体;">基于互联网的特殊性，本公司无法保证本网站的服务不会中断，对于包括但不限于本公司、本网站及相关第三方的设备、系统存在缺陷，计算机发生故障、遭到病毒、黑客攻击或者发生地震、海啸等不可抗力而造成服务中断或因此给用户造成的损失，本公司不承担任何责任，有关损失由用户自己承担。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">4.3
							<span style="font-family: 宋体;">本公司无义务监测本网站内容。用户对于本网站披露的信息、选择使用本网站提供的服务，选择参与交易等，应当自行判断真实性和承担风险，由此而产生的法律责任和后果由用户自己承担，本公司不承担任何责任。</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">4.4
							<span style="font-family: 宋体;">与本公司合作的第三方机构向用户提供的服务由第三方机构自行负责，本公司不对此等服务承担任何责任。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">4.5
							<span style="font-family: 宋体;">本网站的内容可能涉及第三方所有的信息或第三方网站，该等信息或第三方网站的真实性、可靠性、有效性等由相关第三方负责，用户对该等信息或第三方网站自行判断并承担风险，与本网站和本公司无关。
						</span><span style="font-family: Arial;">4.6</span><span
							style="font-family: 宋体;">用户通过本网站与其他网站产生法律关系的（包括并不限于投资、推广、返利等），用户应了解本网站非以上法律关系的任何一方，对用户与其他网站之间达成的合意不负任何责任。</span>
						</span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">五、信息披露</span></span></strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">5.1
							<span style="font-family: 宋体;">用户在此同意，对于用户提供的和本公司为提供本网站服务所需而自行收集的用户个人信息和资料，本公司有权按照本服务协议的约定进行使用或者披露。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">5.2
							<span style="font-family: 宋体;">用户授权本公司基于履行有关协议、解决争议、调停纠纷、保障本网站用户交易安全的目的等使用用户的个人资料（包括但不限于用户自行提供的以及本公司信审行为所获取的其他资料）。本公司有权调查多个用户以识别问题或解决争议，
								特别是本公司可审查用户的资料以区分使用多个用户名或别名的用户。</span><span style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">5.3
							<span style="font-family: 宋体;">为避免用户通过本网站从事欺诈、非法或其他刑事犯罪活动，保护本网站及其正常用户合法权益，用户授权本公司可通过人工或自动程序对用户的个人资料进行评价和衡量。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">5.4
							<span style="font-family: 宋体;">用户同意本公司可以使用用户的个人资料以改进本网站的推广和促销工作、分析网站的使用率、改善本网站的内容和产品推广形式，并使本网站内容、设计和服务更能符合用户的要求。这些使用能改善本网站的网页，以调整本网站网页使其更能符合用户的需求，从而使用户在使用本网站服务时得到更为顺利、有效、安全及度身订造的交易体验。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">5.6
							<span style="font-family: 宋体;">用户在此同意允许本公司通过在本网站的某些网页上使用诸如</span><span
							style="font-family: Arial;">“Cookies”</span><span
							style="font-family: 宋体;">的设置收集用户信息并进行分析研究，以为用户提供更好的量身服务。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">5.7<span
							style="font-family: 宋体;">本公司有义务根据有关法律、法规、规章及其他政府规范性文件的要求向司法机关和政府部门提供用户的个人资料及交易信息。
						</span><span style="font-family: Arial;">&nbsp;</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">5.8
							<span style="font-family: 宋体;">本公司采用行业标准惯例以保护用户的个人信息和资料，鉴于技术限制，本公司不能确保用户的全部私人通讯及其他个人资料不会通过本条款中未列明的途径泄露出去。</span>
						</span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">六、保护条款</span></span></strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">6.1
							<span style="font-family: 宋体;">本网站中的所有内容均属于本公司所有</span><span
							style="font-family: Arial;">,</span><span
							style="font-family: 宋体;">包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片、音频、视频及其他全部信息。本网站内容受中国知识产权法律法规及各国际版权公约的保护。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">6.2
							<span style="font-family: 宋体;">未经本公司事先书面同意</span><span
							style="font-family: Arial;">,</span><span
							style="font-family: 宋体;">用户承诺不以任何形式复制、模仿、传播、出版、公布、展示本网站内容</span><span
							style="font-family: Arial;">,</span><span
							style="font-family: 宋体;">包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。用户承认本网站内容是属于本公司的财产。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">6.3<span
							style="font-family: 宋体;">未经本公司书面同意</span><span
							style="font-family: Arial;">,</span><span
							style="font-family: 宋体;">用户不得将本网站包含的资料等任何内容发布到任何其他网站或者服务器。任何未经授权对本网站内容的使用均属于违法行为</span><span
							style="font-family: Arial;">,</span><span
							style="font-family: 宋体;">本公司有权追究用户的法律责任。</span></span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">七、违约责任</span></span></strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">如一方发生违约行为，守约方可以任何通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失要求违约方进行赔偿。</span></span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">八、法律适用及争议解决</span></span></strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">&nbsp;</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">8.1
							<span style="font-family: 宋体;">本服务协议的签订、效力、履行、终止、解释和争端解决受中国法律法规的管辖。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">8.2
							<span style="font-family: 宋体;">因本服务协议发生任何争议或与本服务协议有关的争议，首先应由双方友好协商解决，协商不成的，任何一方有权将纠纷提交至</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">马上多返利</span></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">运营商所在地有管辖权的人民法院诉讼解决。</span></span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">九、</span></span></strong><strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">风险提示</span></span></strong>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><span
							style="font-family: 宋体;">理财有风险，投资需谨慎。投资者投资不同的理财产品将获得不同的收益预期，也将承担不同程度的风险。一般来说，理财产品的收益预期越高，投资者可能承担的风险越大。投资人应当认真阅读理财产品的相关说明，了解产品特点，并根据自身投资目的、投资期限、投资经验、资产状况等判断是否和投资人的风险承受能力相适应。</span>
						</span>
					</p>
					<p
						style="margin: 10px 0px 0px; padding: 0px; line-height: 32px; text-indent: 28px;">
						<strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">十</span></span></strong><strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: bold;"><span
								style="font-family: 宋体;">、其他条款</span></span></strong><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;">10</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">.1
							<span style="font-family: 宋体;">本服务协议自您同意勾选并成功注册为本网站用户之日起生效，除非本网站终止本服务协议或者用户丧失本网站用户资格，否则本服务协议始终有效。本服务协议终止并不免除用户根据本服务协议或其他有关协议、规则所应承担的义务和责任。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;">10</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">.2
							<span style="font-family: 宋体;">本公司对于用户的违约行为放弃行使本服务协议规定的权利的，不得视为其对用户的其他违约行为放弃主张本服务协议项下的权利。</span><span
							style="font-family: Arial;">&nbsp;</span>
						</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;"><br></span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: 宋体; font-size: 15px; font-style: normal; font-weight: normal;">10</span><span
							style="color: rgb(102, 102, 102); letter-spacing: 0px; font-family: Arial; font-size: 15px; font-style: normal; font-weight: normal;">.3
							<span style="font-family: 宋体;">本服务协议部分条款被认定为无效时，不影响本服务协议其他条款的效力。</span>
						</span>
					</p>
					<p></p>
				</div>
			</div>
		</div>
	</div>
	<dif th:replace="/common/login_register" />
	<dif th:replace="/common/footer" />
</body>
</html>