<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1200" />
	<title>帮助中心_马上多返利网</title>
	<meta name="description"
		content="马上多返利网是一个理财返利平台,为您提供理财返利、P2P返利、网贷返利、投资返利等全方位高收益理财返利活动" />
	<dif th:replace="/common/common" />
</head>
<body>
	<dif th:replace="/common/head" />

	<dif th:replace="/others/swiper" />
	
	<div class="w_1200 box_w_b clearfix">
		<dl class="about_tab_th round_m_a">
			<dd>
				<a th:href="@{/announcement}">官方公告</a>
				<a th:href="@{/about}">关于我们</a> <a
					th:href="@{/service}">增值服务</a> <a
					th:href="@{/help}" class="tab_light">帮助中心</a> <a
					th:href="@{/agreement}">注册协议</a>
			</dd>
		</dl>
		<div class="white_box clearfix box_w_b">
			<h4 class="th_text">帮助中心</h4>
			<ul class="ann_list">
				<li th:each="item,status : ${newsList}" th:inline="text">
					<span class="fr">[[${#dates.format(item.date, 'yyyy-MM-dd HH:mm:ss')}]]</span>
					<a th:href="@{'/help/news/'+${item.id}}">[[${item.title}]]</a>
				</li>
			</ul>
		</div>
	</div>
	<dif th:replace="/common/login_register" />
	<dif th:replace="/common/footer" />
</body>
</html>