<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1200" />
	<title>帮助中心-马上多</title>
	<meta name="keywords" content="马上多,马上多返利网,理财返利平台,P2P返现,P2P返利,P2P羊毛,网贷返利,理财返利,金融返利">
	<meta name="description"
		content="马上多-是一个理财返利平台,为您提供理财返利、P2P返现、P2P返利、网贷返利、投资返利等全方位高收益理财返利活动" />
	<dif th:replace="/common/common" />
</head>
<body>
	<dif th:replace="/common/head" />

	<dif th:replace="/others/swiper" />
	
	<div class="w_1200 box_w_b clearfix">
		<dif th:replace="/others/about_tab" />
		<div class="white_box clearfix box_w_b" th:inline="text">
            <dl class="site_th d_site_th">
                <dd>
                  	  当前位置：
                    <a th:href="@{/index}">马上多</a>
                    <em class="china">&gt;</em>
                    <a th:if="${#httpServletRequest.getRequestURI().contains('/announcement')}" th:href="@{/announcement}">官方公告</a>
                    <a th:if="${#httpServletRequest.getRequestURI().contains('/help')}" th:href="@{/help}">帮助中心</a>
                    <em class="china">&gt;</em>
                    	[[${news.title}]]
                </dd>
            </dl>
            <div class="d_wen clearfix">
                <h2>[[${news.title}]]</h2>
                <div class="text_o">
                    	发布时间：[[${#dates.format(news.date, 'yyyy-MM-dd HH:mm:ss')}]]
                </div>
                <div class="cms-content" th:utext="${news.content}"></div>
            </div>
        </div>
	</div>
	<dif th:replace="/common/login_register" />
	<dif th:replace="/common/footer" />
</body>
</html>