<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1200" />
	<title>增值服务-马上多</title>
	<meta name="keywords" content="马上多,马上多返利网,理财返利平台,P2P返现,P2P返利,P2P羊毛,网贷返利,理财返利,金融返利">
	<meta name="description"
		content="马上多-是一个理财返利平台,为您提供理财返利、P2P返现、P2P返利、网贷返利、投资返利等全方位高收益理财返利活动" />
	<dif th:replace="/common/common" />
</head>
<body>
	<dif th:replace="/common/head" />

	<dif th:replace="/others/swiper" />

	<div class="w_1200 box_w_b clearfix">
		<dif th:replace="/others/about_tab" />
		<div class="white_box clearfix box_w_b">
			<div class="about_text">
				<h2>增值服务</h2>
				<p>
					<span style="color: rgb(255, 192, 0);"><strong><span
							style="font-size: 24px;"><strong
								style="color: rgb(255, 192, 0); white-space: normal;"><span
									style="font-size: 24px;">【软件开发、人员外包】</span></strong></span></strong></span>
				</p>
				<p>
					<span style="color: rgb(0, 0, 0);">提供软件开发、软件人员外包服务。</span>
				</p>
				<p>
					<span style="color: rgb(0, 0, 0);">需要联系QQ：1004050304</span>
				</p>
				<p>
					<br>
				</p>
				<p>
					<br>
				</p>
			</div>
			<!--end文字-->
		</div>
	</div>
	<dif th:replace="/common/login_register" />
	<dif th:replace="/common/footer" />
</body>
</html>